<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="alicia_m_v1_1_follower_ros2_control"
                 params="name initial_positions_file
                         ros2_control_plugin:='mock_components/GenericSystem'
                         serial_port:='/dev/ttyACM0'
                         baudrate:='1000000'
                         control_mode:='pv'
                         default_speed:='1.0'
                         mit_kp:='50.0'
                         mit_kd:='2.0'">

        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>${ros2_control_plugin}</plugin>
                <xacro:unless value="${ros2_control_plugin == 'mock_components/GenericSystem'}">
                    <param name="serial_port">${serial_port}</param>
                    <param name="baudrate">${baudrate}</param>
                    <param name="control_mode">${control_mode}</param>
                    <param name="default_speed">${default_speed}</param>
                    <param name="mit_kp">${mit_kp}</param>
                    <param name="mit_kd">${mit_kd}</param>
                </xacro:unless>
            </hardware>
            <joint name="joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_finger">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_finger']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
